<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
          <!--First Name-->
        <div class="form-group">
          <label for="name">First name</label>
          <input type="text" [(ngModel)]="client.firstname" 
            class="form-control"
            id="firstname"
            name="firstname"
            placeholder="Enter your first name "
            value={{client.firstname}}
             name="firstName">
        </div>
         <!--Last Name-->
         <div class="form-group">
          <label for="name">Last name</label>
          <input type="text" [(ngModel)]="client.lastname" 
            class="form-control"
            id="lastname"
            name="lastname"
            placeholder="Enter your last name "
            value={{client.lastname}}
             name="lastname">
        </div>
        <!--Email -->
        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" [(ngModel)]="client.email" 
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter your Email "
            value={{client.email}}
             name="email">
        </div>
        <!-- Submit Button-->
        <button type="submit" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>